* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8de4ff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 400px;
  height: 315px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

header {
  height: 85px;
  background-color: #f6ae2d;
  border-radius: 5px 5px 0 0;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

span {
  display: block;
}

header .title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.amount {
  font-weight: 600;
}

.rev {
  text-align: end;
}
