* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8de4ff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 400px;
  height: 315px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

header {
  height: 85px;
  background-color: #f6ae2d;
  border-radius: 5px 5px 0 0;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

span {
  display: block;
}

header .title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.amount {
  font-weight: 600;
}

.rev {
  text-align: end;
}

.legend {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.legend__views,
.legend__purchases {
  position: relative;
}

.legend__views {
  padding-right: 30px;
}

.legend__views::before,
.legend__purchases::before {
  position: absolute;
  top: 7px;
  left: -22px;
  content: "";
  height: 4px;
  width: 15px;
  display: block;
  border-radius: 100px;
}

.legend__views::before {
  background-color: #da627d;
}

.legend__purchases::before {
  background-color: #54c6eb;
}

.stats {
  position: relative;
  width: 400px;
  height: 150px;
}

.line,
.line::before,
.line::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 400px;
  background-color: rgb(224, 224, 224);
}

.line {
  top: 40%;
}

.line::before {
  top: -50px;
}

.line::after {
  top: 50px;
}

.days {
  height: 26px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.day {
  display: inline-block;
  text-transform: uppercase;
  color: rgb(177, 177, 177);
}

.point {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: 2;
}

/* STATS: VIEWS */
.views__line {
  position: absolute;
  top: 20px;
  z-index: 2;
}
.stats__views .point {
  background-color: #da627d;
}

.stats__purchases .point {
  background-color: #54c6eb;
}

.stats__views .point1 {
  top: 63px;
  left: 25px;
}

.stats__views .point2 {
  top: 25px;
  left: 85px;
}

.stats__views .point3 {
  top: 66px;
  left: 138px;
}

.stats__views .point4 {
  top: 18px;
  left: 210px;
}

.stats__views .point5 {
  top: 38px;
  right: 135px;
}

.stats__views .point6 {
  top: 20px;
  right: 74px;
}

.stats__views .point7 {
  top: 58px;
  right: 25px;
}

/* STATS: PURCHASES */
.purchases__line {
  position: absolute;
  top: 90px;
  z-index: 2;
}

.stats__purchases .point1 {
  top: 108px;
  left: 25px;
}

.stats__purchases .point2 {
  top: 93px;
  left: 85px;
}

.stats__purchases .point3 {
  top: 101px;
  left: 138px;
}

.stats__purchases .point4 {
  top: 88px;
  left: 210px;
}

.stats__purchases .point5 {
  top: 113px;
  right: 135px;
}

.stats__purchases .point6 {
  top: 100px;
  right: 74px;
}

.stats__purchases .point7 {
  top: 120px;
  right: 25px;
}

/* TOOLTIPS */

.tooltip {
  visibility: hidden;
}

.point:hover .tooltip {
  visibility: visible;
  transform: translateX(-10px) translateY(-30px);
  cursor: pointer;
  animation: 0.6s fadeInTooltip ease-out;
}

.tooltip {
  font-size: 12px;
  transform: translateX(-10px) translateY(-30px);
  color: #fff;
  width: 25px;
  height: 20px;
  text-align: center;
  border-radius: 2px;
}

.tooltip::after {
  position: absolute;
  content: "";
  display: block;
  height: 8px;
  width: 8px;
}

.stats__views .tooltip {
  background-color: #da627d;
}

.stats__views .tooltip::after {
  transform: translateX(10px) translateY(-2px) rotate(45deg);
  background-color: #da627d;
}

.stats__purchases .tooltip {
  background-color: #54c6eb;
}

.stats__purchases .tooltip::after {
  transform: translateX(10px) translateY(-2px) rotate(45deg);
  background-color: #54c6eb;
}

/* ANIMATION */

@keyframes fadeInTooltip {
  from {
    transform: translateX(-10px) translateY(-10px);
  }

  to {
    transform: translateX(-10px) translateY(-30px);
  }
}
