* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8de4ff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 400px;
  height: 315px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

header {
  height: 85px;
  background-color: #f6ae2d;
  border-radius: 5px 5px 0 0;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

span {
  display: block;
}

header .title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.amount {
  font-weight: 600;
}

.rev {
  text-align: end;
}

.legend {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.views,
.purchases {
  position: relative;
}

.views {
  padding-right: 30px;
}

.views::before,
.purchases::before {
  position: absolute;
  top: 7px;
  left: -22px;
  content: "";
  height: 4px;
  width: 15px;
  display: block;
  border-radius: 100px;
}

.views::before {
  background-color: #da627d;
}

.purchases::before {
  background-color: #54c6eb;
}

.stats {
  position: relative;
  width: 400px;
  height: 150px;
}

.line,
.line::before,
.line::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 400px;
  background-color: rgb(224, 224, 224);
}

.line {
  top: 40%;
}

.line::before {
  top: -50px;
}

.line::after {
  top: 50px;
}

.days {
  height: 26px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.day {
  display: inline-block;
  text-transform: uppercase;
  color: rgb(177, 177, 177);
}

.views__line {
  position: absolute;
  top: 20px;
}
